<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <security-constraint>
        <display-name>ADMINISTRATOR SECURITY CONSTRAINT</display-name>
        <web-resource-collection>
            <web-resource-name>ADMINISTRATOR CONTENT</web-resource-name>
            <description>ADMINISTRATOR CONTENT</description>
            <url-pattern>/administrator/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>ADMINISTRATORS ONLY</description>
            <role-name>ADMINISTRATOR_ROLE</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>CUSTOMER SECURITY CONSTRAINT</display-name>
        <web-resource-collection>
            <web-resource-name>CUSTOMER CONTENT</web-resource-name>
            <description>CUSTOMER CONTENT</description>
            <url-pattern>/customer/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>CUSTOMERS ONLY</description>
            <role-name>CUSTOMER_ROLE</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>itmd4515Realm</realm-name>
        <form-login-config>
            <form-login-page>/login.html</form-login-page>
            <form-error-page>/error.html</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description>ADMIN ROLE</description>
        <role-name>ADMINISTRATOR_ROLE</role-name>
    </security-role>
    <security-role>
        <description>CUSTOMER ROLE</description>
        <role-name>CUSTOMER_ROLE</role-name>
    </security-role>
</web-app>
